/* CSS Document */
html,
html *,
body
{
	box-sizing: border-box;
	font-family: "font1";
	text-decoration-color: #1F1F1F;
	color: #1F1F1F;
	margin: 2px;
	
}
.fancy-background
{
	overflow: auto;
	/*background-size: 400% 400%;*/
	/*animation: gradient 15s ease infinite;*/
	height: 100%;
	width: 100%;

	/* Center and scale the image nicely */
	background: linear-gradient(-45deg, #ffd1d1, #f9cdff, #a4ffe1, #78dfff) no-repeat center;
	background-size: cover;
}

h1 
{
	text-align: center;
	color: #ff0000;
}

@font-face {
	font-family:font1;
	src:url("fonts/Product Sans Light 300.ttf");
}

header 
{
	padding:1px;
	padding-top: 0px;
	width: 100%;
	position: fixed;
	
}
.header1
{
	opacity: 1;
	
}
.logo
{
	width: 10%;
	height: auto;
	opacity: 1;
	float: left
}

h1
{
	color: #1F1F1F;
	text-align: center;
	text-transform: uppercase;
	font-size: 4em;
	letter-spacing: 0.5em;
	padding: 10px;
	padding-top: 10px;
	text-shadow: 5px 5px 5px #a8a8a8;
	transition: 1s;
}
h1:hover
{
	font-size: 4.5em;
}
h6
{
	color: #1F1F1F;
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 0.5em;
	padding: 100px 10px 10px;
	text-shadow: 5px 5px 5px #a8a8a8;
	transition: 1s;
}
h6:hover
{
	font-size: 2.5em;
}
h7
{
	width: 100%;
	font-size: 1em;
	text-align: center;
	padding-left: 42%;
	padding-right: 42%;
	padding-bottom: 20%;
	/*padding: 10px 45% 10px 45%;*/
}
.paragraph
{
	margin: 5% 10% 5% 10%;
	text-align: center;
}
.reference
{
	font-size: 0.5em;
	margin-right: 50%;
	float: left;
}
.bold
{
	font-weight: bold;
	margin-left: 5%;
}
.leftnohighlight
{
	float: left;
	width: 45%;
	padding: 10px;
	text-align: center;
}
.righthighlight
{
	text-align: center;
	float: right;
	background-color: #386641;
	width: 45%;
	padding: 10px;
}
.rightnohighlight
{
	float: right;
	width: 45%;
	padding: 10px;
	text-align: center;
}
.lefthighlight
{
	text-align: center;
	float: left;
	background-color: #386641;
	width: 45%;
	padding: 10px;
}
.medium-margin
{
	margin: 40px;
}
.fit-content
{
	overflow: auto;
}
@keyframes titleExpand
{
	from {font-size: 4em;}
	to {font-size: 4.5em;}
}
@keyframes titleShrink
{
	from {font-size: 4.5em;}
	to {font-size: 4em;}
}
h2
{
	text-align: center;
	text-transform: uppercase;
	padding-top: 50px;
	letter-spacing: 0.25em;
	font-size: 1.5em;
	text-shadow: 5px 5px 5px #a8a8a8;
	
}

.break
{
	padding: 49px;
}
float-right
{
	float: right;
}

ul
{
	list-style-type: none;
}
.nav-butt
{
	font-size: 1em;
	text-decoration: none;
	color: #1f1f1f;
	transition: 1s;
	float: right;
	padding: 1em;
}
.nav-butt:hover
{
	color: #DA2C38;
	font-size: 1.2em;
}
.site-nav
{
	width: 100%;
	color: #1f1f1f;
}

.profile
{
  	margin: auto;
  	padding: 10px;
}
.profileContainer
{
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: auto;
}

.profileImage
{
	width: 50%;
  	height: 100%;
  	float: left;
}
.profileBrief
{
  	background: #386641;
	text-align: center;
	height: 100%;
}
.briefContainer
{
	box-shadow: 5px 5px 20px 5px #a8a8a8;
	background: #386641;
	float: right;
	width: 49%;
	height: 100%;
	align-content: center;
	text-align: center;
}
.imageContainer
{
	float: left;
	width: 49%;
	margin: 0;
}
.image {
	left: 0;
	right:0;
}
.image img {
	width: 100%;
	height: 100%;
}

.pages
{
	padding-left: 5%;
	padding-right: 5%;
}
.page-butt1
{
	position: relative;
	height: 20%;
	text-decoration: none;
	transition: 1s;
}

.page-img1
{
	width: 95%;
	height: 200px;
	transition: 1s;
	transition-timing-function:
			cubic-bezier(0.6, -0.16, 0.45, 1.16);
	box-shadow: 5px 5px 20px 5px #a8a8a8;
	text-align: center;

}
.buttonStyle {
	height:180px;
	width:80%;
	background-repeat: no-repeat;
	background-color: #386641;
	margin: 10px;
	text-align: center;
	text-transform: capitalize;
	font-size: 40px;
	transition: 1s;
	
}
.buttonStyle:hover 
{
	font-size: 60px;
	height:200px;
	width:90%;
	background-color: #DA2C38;
}


.page-img1:hover
{
	width: 100%;
	height: 220px;
	box-shadow: 5px 5px 20px 5px #a8a8a8;
}

footer
{
	background-color: blueviolet;
}