/* CSS Document */
html,
html *,
body
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "font1";
	text-decoration-color: #1F1F1F;
	color: #1F1F1F;
}
body
{
	
	
}

h1 
{
	text-align: center;
	color: red;
}

h2
{
	
}

@font-face {
	font-family:font1;
	src:url("fonts/Product Sans Light 300.ttf");
}

header 
{
	padding:1px;
	padding-top: 0px;
	width: 100%;
	position: fixed;
	
}
.header1
{
	opacity: 1;
	
}
.logo
{
	width: 10%;
	height: auto;
	opacity: 1;
	float: left
}

h1
{
	color: #1F1F1F;
	text-align: center;
	text-transform: uppercase;
	font-size: 4em;
	letter-spacing: 0.5em;
	padding: 10px;
	padding-top: 10px;
	text-shadow: 5px 5px 5px #a8a8a8;
	transition: 1s;
}
h1:hover
{
	font-size: 4.5em;
}
@keyframes titleExpand
{
	from {font-size: 4em;}
	to {font-size: 4.5em;}
}
@keyframes titleShrink
{
	from {font-size: 4.5em;}
	to {font-size: 4em;}
}
h2
{
	text-align: center;
	text-transform: uppercase;
	padding-top: 50px;
	letter-spacing: 0.25em;
	font-size: 1.5em;
	text-shadow: 5px 5px 5px #a8a8a8;
	
}

.shadow1
{
	
}

.break
{
	padding: 49px;
}

li
{
	float: right;
	padding: 1em;
}
ul
{
	list-style-type: none;
}
a
{
	font-size: 1em;
	text-decoration: none;
	color: #1f1f1f;
	transition: 1s;
}
a:hover
{
	color: #DA2C38;
	font-size: 1.2em;
}
.site-nav
{
	width: 100%;
	color: #1f1f1f;
}

.profile
{
	width: 100%;
  	height: 45em;
  	margin: auto;
  	padding: 10px;
}

.profileImage
{
	width: 50%;
  	height: 100%;
  	float: left;
}

.profileBrief
{
	margin-left: 50%;
	width: 50%;
  	height: 100%;
  	background: #386641;
	text-align: center;
	padding: 10em;
	box-shadow: 5px 5px 20px 5px #a8a8a8;
}

.proImage
{
	max-height: 100%;
	max-width: 100%;
	box-shadow: 5px 5px 20px 5px #a8a8a8;
	
}

footer
{
	
	background-color: blueviolet;
	
}